/* styles/HeroSection.module.css */
.hero {
  position: relative;
  margin-top: 0rem;
  height: 40rem; /* Adjust the height as needed */
  background: url('/Rectangle 1.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  color: #fff; /* Adjust text color */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically */
  text-align: center; /* Center text */
}

.titleContainer {
  background-color: transparent; /* Remove background color */
  border-radius: 50%; /* Make it circular */
  overflow: hidden; /* Hide overflow for circular effect */
}

.titleImage {
  width: 100%; /* Make the image fill the circular container */
  height: auto; /* Maintain aspect ratio */
}

.title {
  margin: 0;
  @apply 2xl:text-[32px] sm:text-[32px] text-[32px] font-medium;
}

.textContainer1 {
  display: grid;
  align-items: center; /* Center content vertically */
}

.subTitleContainer {
  padding: 10px;
  border-radius: 30.5px;
}

.subTitle {
  @apply 2xl:text-[128px] sm:text-[68px] text-[32px] font-semibold;
  margin: 0;
  text-align: center;
}

.textContainer {
  @apply 2xl:text-[16px] sm:text-[16px] text-[16px] font-light;
  text-align: center; /* Center text */
}

.socialIcons {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  margin-bottom:20px;
}

.socialIcons a {
  margin-right: 10px;
}

.socialIcons img {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }

  .textContainer  {
    font-size: 1.5em;
    padding:1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 32px;
  }

  .textContainer p {
    font-size: 1.5em;
  }
}
