/* Ensure border-box is used */
.favbar {
    display: flex;
    width: 100%;
    height: 60px;
    padding-top: 10px; 
    padding-bottom: 10px;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding-left:30px;
    padding-right:30px;
    
    background-color: white;
  
}
.gavbar {
  display: flex;
  width: 100%;
  height: 60px;
  padding-top: 10px; 
  padding-bottom: 10px;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding-left:30px;
  padding-right:30px;
  
  background-color:black;

}
.favbar img{
  border-radius: 50%;
    height: 50px;
    width:50px;
    margin-top:5px;
}
.gavbar img{
    border-radius: 50%;
    height: 50px;
    width:50px;
    margin-top:5px;
  
}
.f{
    display:flex;
}
.ya{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 28px;
    font-weight: bold;
}
.ga{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 28px;
  font-weight: bold;
  color:white;
}
.lin{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    margin: 10px;
}
.arrow{
    height: 14px;
    width: 14px;
}
/* Your existing styles */

/* Hamburger menu styles */
.hamburger {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
  }
  
  .bar {
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .rotateTopBar {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .hideMiddleBar {
    opacity: 0;
  }
  
  .rotateBottomBar {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .link {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: white;
      text-align: center;
    }
  
    .link.show {
      display: flex;
    }
  
    .hamburger {
      display: block;
    }
  
    .open .bar {
      background-color: white;
    }
  }
  
